nav ul {
    text-align: center;
    background-color: rgb(61, 43, 31);
    height: 70px;
}

li {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: Arial Black;
    margin: 0 20px;
    margin-top: inherit;
}
li:hover {
    color: burlywood;
    transition: 2s;
}

div {
    position: absolute;
}

.background-all-page {
    width: 1333px;
    margin-top: -16px;
    position: absolute;
}

.title {
    position: absolute;
    margin-top: 80px;
    font-size: 50px;
    margin-left: 500px;
    text-align: center;
    color: white;
}

.backgroud-block1 {
    width: 1333px;   
    height: 400px;
    position: absolute;
    margin-top: 545px;
}

.title-first-block {
    color: white;
    font-size: 40px;
    margin-left: 145px;
    margin-top: 685px;
    position: relative;
    text-align: center;
}

.discription {
    position: inherit;
    margin-left: 568px;
    margin-top: -174px;
    width: 600px;
    text-align: justify;
    color: white;
    font-size: 20px;
}

.second-block {
    text-align: center;
}
.title-second-block {
    margin-top: 1040px;
    font-size: 30px;
    margin-left: 160px;
}

.sencond-discription {
    margin-left: 150px;
}

.hug-images {
    display: inline-block;
    margin-top: 120px;
    position: initial;
    margin-left: 169px;
}
.three-images {
    width: 230px;
    height: 187px;
}

.backgroud-block3 {
    width: 1335px;   
    height: 600px;
    position: absolute;
    margin-top: 1493px;
}
.title-third-block {
    margin-top: 1571px;
    color: gray;
    font-size: 30px;
    margin-left: 160px;
    position: relative;
}

.third-discription {
    position: absolute;
    margin-left: 150px;
    margin-top: 60px;
    width: 515px;
    color: gray;
    text-align: justify;
}

.daniela {
    margin-left: 835px;
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: -25px;
}

.hug-images-block4 {
    display: inline-block;
    position: initial;
    /*opacity: 0.8;*/
}

.three-images-block4 {
    width: 454px;
    height: 467px;
}

.reference {
    position: initial;
    margin-top: 89px;
    display: inline-block;
    width: 1333px;

}

.image2 {
    margin-left: -16px;
}

.image3 {
    margin-left: -21px;
}

footer {
    position: absolute;
    background-color: rgb(61, 43, 31);
    height: 300px;
    width: 100%;
    margin-top: -4px;

}

.text-footer {
    font-size: 23px;
    color: white;
    margin-left: -611px;
    margin-top: 55px;
    text-align: center;
}

.address {
    font-size: 15px;
    color: white;
    margin-left: -611px;
    margin-top: 28px;
    text-align: center;
}

.form {
    position: relative;
    margin-left: 800px;
    margin-top: -166px;
}

.dados {
    background-color: #A0522D;
    height: 21px;
    width: 330px;
}

.dados-mensagem {
    background-color: #A0522D;
    height: 70px;
    width: 330px;
}

.botao {
    margin-left: 268px;
}

.copyright-footer {
     position: absolute;
    background-color: rgb(61, 43, 31);
    height: 53px;
    width: 100%;
    margin-top: 16px;
}

.copyright-footer-text {
    color: #A0522D;
    text-align: center;
}